.detailsPage {
  background: linear-gradient(rgb(204, 204, 224), rgb(235, 222, 197));
  border-radius: 2rem;
  margin-top: 2rem;
  margin-left: 4vh;
  margin-right: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.detailsPage img {
  width: 25rem;
  height: 25rem;
  padding-bottom: 2rem;
  justify-content: left;
  padding-left: 2rem;
  padding-top: 3rem;
}

.detailsPage p {
  padding-top: 1rem;
}

.smallcontainer {
  margin-top: 5rem;
}
